.help-block{
    font-size: 13px;
}

@media (min-width: 992px) {
    .help-block{
        height: 70px;
    }
    .help-mini{
        height: auto;
    }
}

.error {
    border: 1px solid #f00 !important;
}