label {
    font-weight: 600;
    font-size: 16px;
}

.error {
    border: 1px solid #f00 !important;
}

@media (min-width: 992px) {
    .help-block {
        /*
        min-height: 70px;
        */
    }

    .help-mini {
        height: auto;
    }

    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}